body {
    background-color: #1f1f1f;
    height: 500px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;
}

em {
    color: #dd740b;
}

.box {    
    width: 100px; /* The child element will take up the whole width not not set */
    height: 100px;
}

/* Float default is none. 
Text will floating around it, absolute will just overlap with the text 
Float mean other elements will respect it's width and height */
.blueBox {
    background:#627da0;
    /* float: left; */
     /* put equal amount of margins on left and righ sides, which will center the element 
     Margin for left and right have to be auto top and bottom don't take effect 
     It will stretch 100% This is how to center it horizontally */
    /* margin: 10px auto; */

    /* Now how to center it vertically. But only the top line of the box is perfectly centered.
    So to center the whole box, need to adjust the box to upper.
    Even if you change the browser window size it will still center welll */
    /* position: absolute;
    top: 50%;
    margin-top: -50px; */
    margin: 0 auto;

}

/* Then apply the ,argin to blue box*/
.container {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 0;
    width: 100%;
}
